<h1>Calculators#show</h1>
<p>Find me in app/views/calculators/show.html.erb</p><br>


<div style="margin-right: 700px">
<div class="jumbotron"><h2 style="color:blue">$<%= @calculator.total_estimate %></h2><br><br></div>
</div>

add link to home<br>
link to sign/sign up<br>

create reservation button<br>
create a new calculator button<br>
