<h3>My Reservations</h3>

<strong>This index view will be scoped based on User roles.<br>
  Admin users will be able to see all reservations organized<br>
   by date. Standard users will see only their own reservations.<br><br>
   There will also be a search feature that searches<br>
    by last name for easy updates and cancellations<br><br><br>
  <strong>

<div class="row">
  <div class="col-md-8">
<small>
<% @reservations.each do |reservation| %>
<%= link_to reservation.date, reservation %>&nbsp&nbsp
<%= reservation.user.email %><br>
<% end %>
</small>
</div>
</div>
